<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">
	<Product Id="265ae72e-1565-4c23-9ec4-bdb9f6ac6b20" Name="MouseTrapSetup" Language="1033" Version="1.0.0.0" Manufacturer="PaulFreund" UpgradeCode="e47ec5fe-d141-4c94-8f4a-28e0fdecf303">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		
		<Media Id='1' Cabinet='MouseTrapSetup.cab' EmbedCab='yes' DiskPrompt='MouseTrap Media' />
		<Property Id='DiskPrompt' Value='MouseTrap Install Media' />
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder'>
				<Directory Id='INSTALLDIR' Name='MouseTrapApp'>
					<Directory Id='MouseTrapAppDrivers' Name='Drivers'>
						<Directory Id='MouseTrapDir' Name='MouseTrap'>
							<Component Id='MouseTrapDriver' Guid='cbfb42e2-362e-4b5a-9519-394157357729'>
								<File Id='MouseTrapSYS' Name='MouseTrap.sys' DiskId='1' Source='$(var.SolutionDir)$(var.Configuration)\MouseTrap Package\MouseTrap.sys' KeyPath='yes' />
								<File Id='MouseTrapINF' Name='MouseTrap.inf' DiskId='1' Source='$(var.SolutionDir)$(var.Configuration)\MouseTrap Package\MouseTrap.inf' />
								<File Id='MouseTrapCAT' Name='MouseTrap.cat' DiskId='1' Source='$(var.SolutionDir)$(var.Configuration)\MouseTrap Package\MouseTrap.cat' />
								<File Id='MouseTrapCoInstaller' Name='WdfCoinstaller01011.dll' DiskId='1' Source='$(var.SolutionDir)$(var.Configuration)\MouseTrap Package\WdfCoinstaller01011.dll' />
								<difx:Driver Legacy='yes' />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>


		<Feature Id='Complete' Level='1'>
			<ComponentRef Id='MouseTrapDriver' />
		</Feature>
		<UIRef Id="WixUI_Minimal" />

	</Product>
</Wix>